@import "bootstrap/dist/css/bootstrap.min.css";


.header{
  font-family: "Iowan Old Style";
  font-size: 84px;
  font-weight: 400;
  border-bottom:1px solid black;
  margin-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 5px;
}

.search_box{
  border-top:1px solid black ;
  justify-content: center;
  height:190px;
  align-items: center;
  padding-top:40px;
}

h2{
  font-family: "Iowan Old Style";
  font-size: 84px;
  font-weight: 400;
}


input{
  width: 267px;
  height: 60px;
  background-image: url("/Frame 15.png");
  background-repeat: no-repeat;
  background-position: left;
  padding: 8px 0px 8px 35px;
}

button{
  background-color:#E84848;
  height: 60px;
  width:60px;
}

@media (min-width: 1300px) {
  .container {
    max-width: 910px;
    margin-bottom: 89px;
  }
}


.box {
  /* border: 1px solid black; */
  height:388px;
  margin-bottom:80px;
  padding:20px;
}


h1{
  font-family: "Inknut Antiqua";
  font-size: 18px;
  font-weight: 600;
  margin-top:10px;
}

.IMGNEWS{
  width: 250px;
  height: 120px;
}

p{
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.top_news{
  color: var(--Dark-Red, #D02424);
  font-family: "Inria Sans";
  font-size: 20px;
  font-weight: 400;
  padding-left:5px;
}