* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid{
  padding:0px;
}

.box1{
  border-bottom: 1px solid black;
  height:140px;
  justify-content: center;
  line-height: 140%;
  margin-bottom: 4px;
  margin-top: 30px;
  display: flex;
  
}
.row.box1 > * {
  width: auto;
}
.red{
  width: 60.291px;
  height: 60.291px;
  margin-top:30px;
  margin-left:-16px;
  margin-right:-16px;
}

h2{ 
  font-family: "Iowan Old Style", serif;
  font-size: 84px;
  font-weight: 400;
  line-height: 118px;
  letter-spacing: 0em;
  text-align: left;
}

input{
  height: 56px;
  width:60px;
}


/*This is for Grid */
@media (min-width: 1300px) {
  .container {
    max-width: 1280px;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  /* border: 1px solid black; */
}
.box {
  /* border: 1px solid black; */
  height: 550px;
  margin-bottom: 20px;
}

.IMGNEWS{
  height:200px;
  width:400px;
}


.col-4 {
  flex: 0 0 33.33%;
  box-sizing: border-box;
  padding: 40px;
}

.row1 {
  margin-top: 20px;
  height: 200px;
}

h1{
  font-size:30px;
}


.title{
  font-size:25px;
}




@media (max-width: 767px) {
  .container {
    max-width: 100%; 
  }

  .box {
    height: auto; 
    margin-bottom: 10px; 
  }

  .form-control {
    width: 100%; 
  }

  .btn {
    width: 100%; 
  }

  .row {
    display: block; 
  }

  .col-4 {
    flex: none; 
    width: 100%; 
    padding: 10px; 
  }

  .newrow {
    width: 100%; 
    margin: auto;
    font-size: 16px; 
    margin-bottom: 10px; 
  }

  .search-container {
    justify-content: center; 
  }

  .test {
    width: 30px;
    height: 30px; 
    margin-top: 10px; 
  }

  h2 {
    font-size: 36px; 
    line-height: 48px;
  }

  .IMGNEWS {
    height: auto;
    width: 100%; 
  }

  .title {
    font-size: 18px; 
  }
}

